# ----------------------------------------------------------------------------------------------
# Git Ignores @see https://github.com/github/gitignore
# ----------------------------------------------------------------------------------------------

# Application Specific
# ----------------------------------------------------------------------------------------------
_SpecRunner.html
test
*.zip

# Bower / Node / Grunt / SASS
# ----------------------------------------------------------------------------------------------
.grunt
.sass-cache
build
node_modules
test
docs
grunt-time-log.jsn
